# Desafios

In [1]:
# Quais casas o CEO da House Rocket deveria comprar e por qual preço de compra?
# Uma vez a casa em posse da empresa, qual o melhor momento para vendê-las e qual seria o preço da venda?
# A House Rocket deveria fazer uma reforma para aumentar o preço da venda? Quais seriam as sugestões de mudanças? Qual o incremento no preço dado por cada opção de reforma?

# 1 - Identificando os Motivos das Perguntas

### O Por quê das perguntas..
#### 1. A empresa pode esta estagnada, não tem crescimento nem destaque no mercado, levando a uma falta de confiança do cliente.
#### 2. A empresa pode estar tendo prejuizo, por não ter acetividade nas compras e vendas.
#### 3. A empresa pode estar tendo um grande volume de trabalho, mas, uma baixa lucratividade.

# 2 - Coletando e Limpando os Dados para Análise

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/kc_house_data.csv')
dados.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [4]:
mapa = {
    'date': 'data_venda',
    'price': 'preco_venda',
    'bedrooms': 'quartos',
    'bathrooms': 'banheiros',
    'sqft_living': 'tamanho_casa',
    'sqft_lot': 'tamanho_lote',
    'floors': 'andares',
    'waterfront': 'beira_mar',
    'grade': 'porte',
    'yr_built': 'ano_contrucao',
    'yr_renovated': 'ano_reforma',
    'zipcode': 'cep',
    'sqft_living15': 'tamanho_casa_vizinhos',
    'sqft_lot15': 'tamanho_lote_vizinhos'
}

In [5]:
dados = dados.rename(columns = mapa)
dados

,id,data_venda,preco_venda,quartos,banheiros,tamanho_casa,tamanho_lote,andares,beira_mar,view,...,porte,sqft_above,sqft_basement,ano_contrucao,ano_reforma,cep,lat,long,tamanho_casa_vizinhos,tamanho_lote_vizinhos
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
dataset = dados[['data_venda'] + ['preco_venda'] + ['quartos'] + ['banheiros'] + ['tamanho_casa'] + ['tamanho_lote'] + ['andares'] + ['beira_mar'] + ['porte'] + ['ano_contrucao'] + ['ano_reforma'] + ['cep'] + ['tamanho_casa_vizinhos'] + ['tamanho_lote_vizinhos']]
dataset

,data_venda,preco_venda,quartos,banheiros,tamanho_casa,tamanho_lote,andares,beira_mar,porte,ano_contrucao,ano_reforma,cep,tamanho_casa_vizinhos,tamanho_lote_vizinhos
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,7,1955,0,98178,1340,5650
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,7,1951,1991,98125,1690,7639
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,6,1933,0,98028,2720,8062
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,7,1965,0,98136,1360,5000
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,8,1987,0,98074,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,8,2009,0,98103,1530,1509
21609,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,8,2014,0,98146,1830,7200
21610,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,7,2009,0,98144,1020,2007
21611,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,8,2004,0,98027,1410,1287
21612,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,7,2008,0,98144,1020,1357

In [7]:
dia_venda = []
mes_venda = []
ano_venda = []
for i in dataset['data_venda'].values:
    data_br = i.replace('T000000', '')
    data_br =  data_br[6:8] + data_br[4:6] + data_br[0:4]
    dia_venda.append(data_br[0:2])
    mes_venda.append(data_br[2:4])
    ano_venda.append(data_br[4:8])

dataset['dia_venda'] = dia_venda
dataset['mes_venda'] = mes_venda
dataset['ano_venda'] = ano_venda
dataset = dataset[['dia_venda'] + ['mes_venda'] + ['ano_venda'] + ['preco_venda'] + ['quartos'] + ['banheiros'] + ['tamanho_casa'] + ['tamanho_lote'] + ['andares'] + ['beira_mar'] + ['porte'] + ['ano_contrucao'] + ['ano_reforma'] + ['cep'] + ['tamanho_casa_vizinhos'] + ['tamanho_lote_vizinhos']]

<ipython-input-7-9647f60e8a5a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['dia_venda'] = dia_venda
<ipython-input-7-9647f60e8a5a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['mes_venda'] = mes_venda
<ipython-input-7-9647f60e8a5a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['ano_venda'] = ano_venda

In [8]:
dataset

,dia_venda,mes_venda,ano_venda,preco_venda,quartos,banheiros,tamanho_casa,tamanho_lote,andares,beira_mar,porte,ano_contrucao,ano_reforma,cep,tamanho_casa_vizinhos,tamanho_lote_vizinhos
0,13,10,2014,221900.0,3,1.00,1180,5650,1.0,0,7,1955,0,98178,1340,5650
1,09,12,2014,538000.0,3,2.25,2570,7242,2.0,0,7,1951,1991,98125,1690,7639
2,25,02,2015,180000.0,2,1.00,770,10000,1.0,0,6,1933,0,98028,2720,8062
3,09,12,2014,604000.0,4,3.00,1960,5000,1.0,0,7,1965,0,98136,1360,5000
4,18,02,2015,510000.0,3,2.00,1680,8080,1.0,0,8,1987,0,98074,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21,05,2014,360000.0,3,2.50,1530,1131,3.0,0,8,2009,0,98103,1530,1509
21609,23,02,2015,400000.0,4,2.50,2310,5813,2.0,0,8,2014,0,98146,1830,7200
21610,23,06,2014,402101.0,2,0.75,1020,1350,2.0,0,7,2009,0,98144,1020,2007
21611,16,01,2015,400000.0,3,2.50,1600,2388,2.0,0,8,2004,0,98027,1410,1287
21612,15,10,2014,325000.0,2,0.75,1020,1076,2.0,0,7,2008,0,98144,1020,1357

In [9]:
tamanho_casa_m2 = []
tamanho_lote_m2 = []
tamanho_casa_vizinhos_m2 = []
tamanho_lote_vizinhos_m2 = []

for i in dataset['tamanho_casa'].values:
    m2 = (round(i*0.092903, 2))
    tamanho_casa_m2.append(m2)
dataset['tamanho_casa_m2'] = tamanho_casa_m2

for i in dataset['tamanho_lote'].values:
    m2 = (round(i*0.092903, 2))
    tamanho_lote_m2.append(m2)
dataset['tamanho_lote_m2'] = tamanho_lote_m2

for i in dataset['tamanho_casa_vizinhos'].values:
    m2 = (round(i*0.092903, 2))
    tamanho_casa_vizinhos_m2.append(m2)
dataset['tamanho_casa_vizinhos_m2'] = tamanho_casa_vizinhos_m2

for i in dataset['tamanho_lote_vizinhos'].values:
    m2 = (round(i*0.092903, 2))
    tamanho_lote_vizinhos_m2.append(m2)
dataset['tamanho_lote_vizinhos_m2'] = tamanho_lote_vizinhos_m2

dataset

,dia_venda,mes_venda,ano_venda,preco_venda,quartos,banheiros,tamanho_casa,tamanho_lote,andares,beira_mar,porte,ano_contrucao,ano_reforma,cep,tamanho_casa_vizinhos,tamanho_lote_vizinhos,tamanho_casa_m2,tamanho_lote_m2,tamanho_casa_vizinhos_m2,tamanho_lote_vizinhos_m2
0,13,10,2014,221900.0,3,1.00,1180,5650,1.0,0,7,1955,0,98178,1340,5650,109.63,524.90,124.49,524.90
1,09,12,2014,538000.0,3,2.25,2570,7242,2.0,0,7,1951,1991,98125,1690,7639,238.76,672.80,157.01,709.69
2,25,02,2015,180000.0,2,1.00,770,10000,1.0,0,6,1933,0,98028,2720,8062,71.54,929.03,252.70,748.98
3,09,12,2014,604000.0,4,3.00,1960,5000,1.0,0,7,1965,0,98136,1360,5000,182.09,464.52,126.35,464.52
4,18,02,2015,510000.0,3,2.00,1680,8080,1.0,0,8,1987,0,98074,1800,7503,156.08,750.66,167.23,697.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21,05,2014,360000.0,3,2.50,1530,1131,3.0,0,8,2009,0,98103,1530,1509,142.14,105.07,142.14,140.19
21609,23,02,2015,400000.0,4,2.50,2310,5813,2.0,0,8,2014,0,98146,1830,7200,214.61,540.05,170.01,668.90
21610,23,06,2014,402101.0,2,0.75,1020,1350,2.0,0,7,2009,0,98144,1020,2007,94.76,125.42,94.76,186.46
21611,16,01,2015,400000.0,3,2.50,1600,2388,2.0,0,8,2004,0,98027,1410,1287,148.64,221.85,130.99,119.57
21612,15,10,2014,325000.0,2,0.75,1020,1076,2.0,0,7,2008,0,98144,1020,1357,94.76,99.96,94.76,126.07

In [10]:
dataset = dataset[['dia_venda'] + ['mes_venda'] + ['ano_venda'] + ['preco_venda'] + ['quartos'] + ['banheiros'] + ['tamanho_casa_m2'] + ['tamanho_lote_m2'] + ['andares'] + ['beira_mar'] + ['porte'] + ['ano_contrucao'] + ['ano_reforma'] + ['cep'] + ['tamanho_casa_vizinhos_m2'] + ['tamanho_lote_vizinhos_m2']]
dataset.head()

,dia_venda,mes_venda,ano_venda,preco_venda,quartos,banheiros,tamanho_casa_m2,tamanho_lote_m2,andares,beira_mar,porte,ano_contrucao,ano_reforma,cep,tamanho_casa_vizinhos_m2,tamanho_lote_vizinhos_m2
0,13,10,2014,221900.0,3,1.00,109.63,524.90,1.0,0,7,1955,0,98178,124.49,524.90
1,09,12,2014,538000.0,3,2.25,238.76,672.80,2.0,0,7,1951,1991,98125,157.01,709.69
2,25,02,2015,180000.0,2,1.00,71.54,929.03,1.0,0,6,1933,0,98028,252.70,748.98
3,09,12,2014,604000.0,4,3.00,182.09,464.52,1.0,0,7,1965,0,98136,126.35,464.52
4,18,02,2015,510000.0,3,2.00,156.08,750.66,1.0,0,8,1987,0,98074,167.23,697.05

In [11]:
preco_casa_m2 = []
preco_lote_m2 = []
preco_casa_viz_m2 = []
preco_lot_viz_m2 = []

for i, v in enumerate(dataset['preco_venda']):
    casa_m2 = round((v / tamanho_casa_m2[i]), 2)
    preco_casa_m2.append(casa_m2)
    
    lote_m2 = round((v / tamanho_lote_m2[i]), 2)
    preco_lote_m2.append(lote_m2)
    
    casa_viz_m2 = round((v / tamanho_casa_vizinhos_m2[i]), 2)
    preco_casa_viz_m2.append(casa_viz_m2)
    
    lote_viz_m2 = round((v / tamanho_lote_vizinhos_m2[i]), 2)
    preco_lot_viz_m2.append(lote_viz_m2)

media_casa_m2 = round(sum(preco_casa_m2 + preco_casa_viz_m2) / len(preco_casa_m2 + preco_casa_viz_m2), 2)
media_lote_m2 = round(sum(preco_lote_m2 + preco_lot_viz_m2) / len(preco_lote_m2 + preco_lot_viz_m2), 2)
preco_m2 = round(sum((preco_casa_m2 + preco_lote_m2 + preco_casa_viz_m2 + preco_lot_viz_m2)) / len((preco_casa_m2 + preco_lote_m2 + preco_casa_viz_m2 + preco_lot_viz_m2)), 2)
print(f'Media de preço por metro² das casas: {media_casa_m2}, lotes: {media_lote_m2}. A media geral é de: {preco_m2}')

Media de preço por metro² das casas: 2877.12, lotes: 946.84. A media geral é de: 1911.98

In [12]:
dataset['preco_casa_m2'] = preco_casa_m2
dataset['preco_lote_m2'] = preco_lote_m2
dataset['preco_casa_viz_m2'] = preco_casa_viz_m2
dataset['preco_lot_viz_m2'] = preco_lot_viz_m2

<ipython-input-12-7127040ac5ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['preco_casa_m2'] = preco_casa_m2
<ipython-input-12-7127040ac5ef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['preco_lote_m2'] = preco_lote_m2
<ipython-input-12-7127040ac5ef>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['preco_casa_viz_m2'] = preco_casa_viz_m2

In [13]:
dataset

,dia_venda,mes_venda,ano_venda,preco_venda,quartos,banheiros,tamanho_casa_m2,tamanho_lote_m2,andares,beira_mar,porte,ano_contrucao,ano_reforma,cep,tamanho_casa_vizinhos_m2,tamanho_lote_vizinhos_m2,preco_casa_m2,preco_lote_m2,preco_casa_viz_m2,preco_lot_viz_m2
0,13,10,2014,221900.0,3,1.00,109.63,524.90,1.0,0,7,1955,0,98178,124.49,524.90,2024.08,422.75,1782.47,422.75
1,09,12,2014,538000.0,3,2.25,238.76,672.80,2.0,0,7,1951,1991,98125,157.01,709.69,2253.31,799.64,3426.53,758.08
2,25,02,2015,180000.0,2,1.00,71.54,929.03,1.0,0,6,1933,0,98028,252.70,748.98,2516.07,193.75,712.31,240.33
3,09,12,2014,604000.0,4,3.00,182.09,464.52,1.0,0,7,1965,0,98136,126.35,464.52,3317.04,1300.27,4780.37,1300.27
4,18,02,2015,510000.0,3,2.00,156.08,750.66,1.0,0,8,1987,0,98074,167.23,697.05,3267.56,679.40,3049.69,731.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21,05,2014,360000.0,3,2.50,142.14,105.07,3.0,0,8,2009,0,98103,142.14,140.19,2532.71,3426.29,2532.71,2567.94
21609,23,02,2015,400000.0,4,2.50,214.61,540.05,2.0,0,8,2014,0,98146,170.01,668.90,1863.85,740.67,2352.80,598.00
21610,23,06,2014,402101.0,2,0.75,94.76,125.42,2.0,0,7,2009,0,98144,94.76,186.46,4243.36,3206.04,4243.36,2156.50
21611,16,01,2015,400000.0,3,2.50,148.64,221.85,2.0,0,8,2004,0,98027,130.99,119.57,2691.07,1803.02,3053.67,3345.32
21612,15,10,2014,325000.0,2,0.75,94.76,99.96,2.0,0,7,2008,0,98144,94.76,126.07,3429.72,3251.30,3429.72,2577.93

# 3. Analisando os Dados e Levantando Hipóteses